@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');


*{
    padding:0px;
    margin: 0px;
    font-family: 'Tilt Warp', cursive;
    /* border: solid red 2px; */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body{
    display: grid;
    grid-template-rows: 1fr 9fr;
    height: 100vh;
    
}

#nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #a7f3d0;
    font-size: 40px;
    color: #065f46;
    
    /* gap: 10px; */
    padding:30px 0px;
}


#content{
    background-color: #065f46;
    padding: 50px;
    /* justify-content: center; */
    
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

form{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    height: 30px;
    
}

form > *{
    border-radius: 4px;
    border: 2px solid transparent;
    font-size: medium;
}

.card{
    background-color: #a7f3d0;
    height: 450px;
    width: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content: space-evenly; */
    align-items: center;
    /* padding: 20px 0px; */
}


.city_name{
    padding-top: 40px;
    font-size: 65px;
}

.temp{
    font-size: 50px;
}

.weather{
    font-size: 20px;
}


.not-active{
    display: none;
}